.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .cards {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .filters {
    display: flex;
    gap: 20px;

    &_type {
      display: flex;
      gap: 4px;
    }
  }
}
