.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .cards {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 700px;
  }

  .filters {
    display: flex;
    gap: 20px;

    &_type {
      display: flex;
      gap: 4px;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    .select_count {
      width: 70px;
    }
  }
}

@media (max-width: 475px) {
  .container {
    padding: 0;
    .filters {
      flex-direction: column;
    }
    .pagination {
      flex-direction: column;
    }
  }
}
